/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* белый #FFFFFF */
/* вторичный цвет фона #F5F4FA */

/* ======== ОБЩИЕ ======== */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --background-color: #f5f4fa;
  --secondary-button-bgc: #188ce8;

  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  --card-set-gap: 30px;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}
.list {
  list-style: none;
}
.text {
  color: var(--secondary-text-color);
}

.link {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  outline: 2px solid tomato;
  padding-left: 15px;
  padding-right: 15px;
}

/* ======== КНОПКА ======== */

.button {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: inherit;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}
.button.primary {
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 4px;
  padding: 10px 32px;
  border: 0px;

  background-color: var(--accent-text-color);
  color: var(--white-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--secondary-button-bgc);
}
.filters .button.current {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

/* ======== ЛОГОТИП ======== */

.logo .bot-accent {
  margin-bottom: 20px;
}

.logo {
  color: var(--accent-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.accent {
  color: #000000;
}

.bot-accent {
  color: var(--white-color);
}

/* ======== ШАПКА ======== */

.top .link {
  color: var(--primary-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.contact-nav .link {
  color: var(--secondary-text-color);
}

.site-nav .link:hover,
.contact-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:focus {
  color: var(--accent-text-color);
}

/* ======== ГЕРОЙ ======== */

.hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 94px;

  background-color: #2f303a;
}

.hero-title {
  width: 696px;
  height: 120px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* ======== ФИЛЬТР ======== */

.filters {
  margin-bottom: 34px;
}

/* ======== ОСОБЕННОСТИ ======== */

.card-set {
  padding: 0px;
  margin: 0px;

  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-set-gap));
}

.card-set > .item {
  outline: 1px solid green;
  flex-basis: calc(100% / 4 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  box-shadow: var(--card-shadow);
}

.features .container {
  margin-bottom: 94px;
}

.features .title {
  margin-bottom: 10px;

  font-weight: bold;
  line-height: 1.1;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features .text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* ======== НАШИ ПРОЕКТЫ ======== */
.project {
  margin-bottom: 94px;
}
.project .title {
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .text {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* ======== ЧЕМ МЫ ЗАНИМАЕМСЯ ======== */

.work {
  margin-bottom: 94px;
}
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}

/* ======== НАША КОМАНДА ======== */

.team {
  background-color: var(--background-color);
}

.team .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;
}
.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}
.team .text {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 30px;
}

.card-team {
  margin-bottom: 30px;
}
/* ======== ПОДВАЛ ======== */

.container .logo {
  margin-bottom: 20px;
  outline: 1px solid orange;
  display: block;
}

.bot {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
}
.bot-nav {
  font-style: normal;
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;

  padding: 0px;
}

.bot-nav > .item:not(:last-child) {
  margin-bottom: 9px;
}

.maps {
  color: var(--white-color);
  text-decoration: none;
}
.bot-nav .link {
  color: rgba(255, 255, 255, 0.6);
}

.bot-nav .link:hover,
.bot-nav .link:focus {
  color: var(--accent-text-color);
}

.footer {
  outline: 1px solid tomato;
}
.item * {
  outline: 1px solid blueviolet;
}
